.list-view .list-cell:even {
-fx-background-color: transparent;
-fx-text-fill: black;
}
.list-view .list-cell:odd {
-fx-background-color:transparent;
-fx-text-fill: black;
}
.list-view .scroll-bar:vertical{
-fx-background-color:  transparent;
}
.list-view .scroll-bar:horizontal{
-fx-background-color:  transparent;

}
.list-view .corner{
   -fx-background-color: transparent; 
}
.list-view{
   -fx-background-color: transparent; 
}
